extends layout
block content
  div.body
    div.row
      div.header
        h3 Contact Me
        a(href='/Portfolio') Portfolio
        a(href='/About') About
        a(href='/Contact') Contact Me
    div.main  
      div.row
        form(action='/contact' method='post')
          p
          label Email
            input.pad(type='email' name='em')
          p  
          label Subject
            input.pad(type='text' name='subject')
          p  
          label.mess Message
            textarea.pad(name='message')
          p  
          input.submit(type='submit' value='Send Message')
          p
  script(src='/javascripts/dom.js' type='text/javascript')
