extends layout

block content
  div.body
    div.row
      div.header
        h3 Claire Nessler
        a(href='/') Portfolio
        a(href='/about') About
        a(href='/contact') Contact Me
    div.main  
      div.row
        p I am an educator turned full stack developer. I am enspired by others,
         | solving problem, and life. I strive for team development and implementation.
         
    div.row     
      div.content
        table
          tr
            td
              a(href='https://hudson-eds-9127.herokuapp.com')
                img(src='/images/farmersMarket.png')
            td    
              a(href='https://powerful-bastion-9902.herokuapp.com/')
                img(src='/images/canvas.png')
          tr
            td Farmers Market Locator
            td Canvas Playground
              
