extends layout

block content
    div.row
      div.header
        h3 Claire Nessler
        a(href='/Portfolio') Portfolio
        a(href='/About') About
        a(href='/Contact') Contact Me
    div.main  
      div.row
        p I am Claire
